[submodule "simulator/GLFW-3"]
	path = simulator/GLFW-3
	url = git@github.com:glfw/glfw.git
[submodule "external/HxCModPlayer"]
	path = external/HxCModPlayer
	url = git@github.com:zet23t/HxCModPlayer.git
